/* Add mobile styles for the component here.  */
@import "../../../../app-variables";

.priority--one {
    color: $error-color;
}

.priority--two {
    color: $main-color;
}

.priority--three {
    color: blue;
}

.priority--four {
    color: gray;
}
