<GridLayout class="add-todo" width="100%" height="120" rows="50, 70" columns="*, 50">
    <StackLayout>
        <TextField></TextField>
    </StackLayout>

    <FlexboxLayout class="options">
        <Label [text]="'fa-calendar' | fonticon" class="far option__icon"></Label>
        <Label [text]="'fa-flag' | fonticon" class="far option__icon"></Label>
        <Label [text]="'fa-tags' | fonticon" class="fas option__icon"></Label>
        <Label [text]="'fa-stream' | fonticon" class="fas option__icon"></Label>
        <Label [text]="'fa-comment' | fonticon" class="far option__icon"></Label>
        <Label [text]="'fa-clock' | fonticon" class="far option__icon"></Label>
    </FlexboxLayout>
</GridLayout>
