<RadListView #todoListView [items]="todoItems" swipeActions="true" (itemSwipeProgressStarted)="onSwipeCellStarted($event)">
  <ng-template tkListItemTemplate let-item="item">
    <StackLayout orientation="vertical">
      <ns-todo-list-entry [todo]="item"
                          (itemTap)="onItemTap($event)"
                          (toggleComplete)="onToggleComplete($event)"
                          (toggleFavourite)="onToggleFavourite($event)"></ns-todo-list-entry>
      <StackLayout height="1" width="95%" backgroundColor="LightGray"></StackLayout>
    </StackLayout>
  </ng-template>

  <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" rows="*, 2">
    <StackLayout id="today-view" col="0" row="0" (tap)="onLeftSwipeTap($event)" class="add-today">
      <Label text="Due Today" class="add-today__action"></Label>
    </StackLayout>

    <StackLayout id="delete-view" col="2" row="0" (tap)="onRightSwipeTap($event)" class="delete">
      <Label text="Delete" class="delete__action"></Label>
    </StackLayout>
  </GridLayout>

  <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default">
  </ListViewLinearLayout>
</RadListView>
