<ActionBar class="action-bar">
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButton()"></NavigationButton>
  <ActionItem icon="res://menu" android:visibility="collapsed" ios.position="left" (tap)="onDrawerButton()"></ActionItem>
  <Label class="action-bar-title" text="Settings"></Label>
  <ActionItem (tap)="onRestoreAllDefaults()" text="Restore all defaults" ios.systemIcon="16" ios.position="right" android.position="popup"></ActionItem>
</ActionBar>

<GridLayout rows="60, 60, 60, 60" columns="40, *" class="settings">
  <Label [text]="'fa-user-circle' | fonticon" class="fas settings__icon" row="0" col="0" (tap)="onNavigate('account')"></Label>
  <Label text="Account" class="settings__text" row="0" col="1" (tap)="onNavigate('account')"></Label>

  <Label [text]="'fa-cog' | fonticon" class="fas settings__icon" row="1" col="0"></Label>
  <Label text="General" class="settings__text" row="1" col="1"></Label>

  <Label [text]="'fa-bell' | fonticon" class="fas settings__icon" row="2" col="0"></Label>
  <Label text="Notifications" class="settings__text" row="2" col="1"></Label>

  <Label [text]="'fa-sign-out-alt' | fonticon" class="fas settings__icon" row="3" col="0"></Label>
  <StackLayout row="3" col="1" orientation="vertical" class="logout" (tap)="onLogout()">
    <Label text="Logout" class="settings__text"></Label>
    <Label [text]="(currentUser$ | async)?.email" class="logout__current-user"></Label>
  </StackLayout>
</GridLayout>
