<AbsoluteLayout>
  <Button #saveButton (tap)="onSave()" [text]="'fa-paper-plane' | fonticon" width="60" height="60" class="fas save-button"></Button>

  <FlexboxLayout flexDirection="column" width="100%" height="100%">
    <StackLayout class="header">
      <StackLayout class="header__item">
        <Label text="Title" class="header__title"></Label>
        <TextField [(ngModel)]="todo.title" class="header__text"></TextField>
      </StackLayout>

      <StackLayout class="header__item" (tap)="onOpenProjectModal()">
        <Label text="Project" class="header__title"></Label>
        <Label [text]="todo.project"></Label>
      </StackLayout>
    </StackLayout>

    <GridLayout flexGrow="1" rows="auto, auto, auto, auto, auto, auto" columns="60, *" class="options">
      <Label [text]="'fa-calendar' | fonticon" class="far options__icon m-b-25 m-r-10" row="0" col="0"></Label>
      <StackLayout row="0" col="1" class="m-b-25" (tap)="onOpenDuedateModal()">
        <Label text="Due date" class="font-weight-bold"></Label>
        <Label [text]="todo.dueDate ? 'Due ' + (todo.dueDate | friendlyDate:'due') : 'No due date'"></Label>
      </StackLayout>

      <Label [text]="'fa-flag' | fonticon" class="far options__icon m-b-25 m-r-10" row="1" col="0"></Label>
      <StackLayout row="1" col="1" class="m-b-25" (tap)="onOpenPrioritiesModal()">
        <Label text="Priority" class="font-weight-bold"></Label>
        <Label [text]="'Priority ' + todo.priority"></Label>
      </StackLayout>

      <Label [text]="'fa-tags' | fonticon" class="fas options__icon m-b-25 m-r-10" row="2" col="0"></Label>
      <StackLayout row="2" col="1" class="m-b-25" (tap)="onOpenLabelsModal()">
        <Label text="Labels" class="font-weight-bold"></Label>
        <Label [text]="todo.labels?.length > 0 ? todo.labels.join(', ') : 'No labels'"></Label>
      </StackLayout>

      <Label [text]="'fa-stream' | fonticon" class="fas options__icon m-b-25 m-r-10" row="3" col="0"></Label>
      <StackLayout row="3" col="1" class="m-b-25" (tap)="onOpenParentModal()">
        <Label text="Parent" class="font-weight-bold"></Label>
        <Label [text]="todo.parent ? todo.parent.title : 'No parent'"></Label>
      </StackLayout>

      <Label [text]="'fa-comment' | fonticon" class="far options__icon m-b-25 m-r-10" row="4" col="0"></Label>
      <StackLayout row="4" col="1" class="m-b-25" (tap)="onOpenDescriptionModal()">
        <Label text="Description" class="font-weight-bold"></Label>
        <Label [text]="todo.description ? todo.description : 'No description'"></Label>
      </StackLayout>

      <Label [text]="'fa-clock' | fonticon" class="far options__icon m-b-25 m-r-10" row="5" col="0"></Label>
      <StackLayout row="5" col="1" class="m-b-25" (tap)="onOpenReminderModal()">
        <Label text="Reminder" class="font-weight-bold"></Label>
        <Label [text]="todo.reminder ? 'Remind me ' + (todo.reminder | friendlyDate:'due'): 'No reminders'"></Label>
      </StackLayout>
    </GridLayout>

    <StackLayout alignSelf="flex-end" class="remove-todo">
      <GridLayout columns="*, 40" rows="*">
        <Label [text]="'Modified ' + (todo.modifiedOn | friendlyDate:'friendly')" class="remove-todo__text" row="0" col="0"></Label>
        <Label (tap)="onDelete()" [text]="'fa-trash-alt' | fonticon" class="far remove-todo__icon" row="0" col="1"></Label>
      </GridLayout>
    </StackLayout>
  </FlexboxLayout>
</AbsoluteLayout>
